

.flex-parent {
  display: flex;
  
}

.jc-center {
  
  justify-content: center;
  
  
}

button.margin-right {
  margin-right: 20px;
  
}


.clear {
    clear: both;
}

#win {
  color: blue;
}

  

/*left 20%;*/

body { height: 100%;
}

#h1, #h2 {
  top: 6px;
  font-size: 35px;
  background: -webkit-linear-gradient(#be5959, #3529a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins', sans-serif;
  
}

#h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
  background: -webkit-linear-gradient(#be5959, #3529a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  

}

#h4 {
  max-width: 100px;
  max-height: 100px;
}






  /*left 80%*/
  .parent {
    height: 300px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }
  
  #rock, #paper, #scissors {
    box-shadow:inset 0px -9px 0px -15px #b54b3a;
    background:linear-gradient(to bottom, #2d80a7 5%, #b34332 100%);
    background-color:#a73f2d;
    border-radius:17px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    font-size:23px;
    font-weight:bold;
    padding:32px 47px;
    text-decoration:none;
    text-shadow:0px 3px 0px #4f20b3;
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
    background-color:#b34332;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  